name: Update
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */8 * * *'
permissions:
  contents: write
jobs:
  build:
    name: Update
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Update
        run: |
          .\edge_features.exe
        shell: pwsh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN:    ${{ secrets.GITHUB_TOKEN }}  # for gh CLI uploads
